@using Jounal.Models
@model IEnumerable<Jounal.Models.Students>

@{
    ViewBag.Title = "Index";
    int cou = 0;
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.Hidden("groupId", (int?)ViewBag.groupId)
    <div class="panel panel-primary">
        <div class="panel-heading">
            <center>Електронный журнал</center>

        </div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cours.Cours_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Groups.NumGroup)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @Html.Hidden("ids", item.Student_ID)
                    <td>
                        @Html.DisplayFor(modelItem => item.LName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.NumCours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Groups.NumGroup)
                    </td>
                    @if (item.Marks.Count > 0)
                    {
                        if (item.Marks.Count < (int)ViewBag.count)
                        {
                            foreach (var mark in item.Marks)
                            {
                                <td>
                                    @Html.DisplayFor(m => mark.Mark)
                                </td>
                            }
                            for (int i = 0; i < ((int)ViewBag.count) - item.Marks.Count; i++)
                            {
                                <td>0</td>
                            }
                        }
                        else
                        {
                            foreach (var mark in item.Marks)
                            {
                                <td>
                                    @Html.DisplayFor(m => mark.Mark)
                                </td>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 0; i < Convert.ToInt32(ViewBag.count); i++)
                        {
                            <td>0</td>
                        }
                    }
                    <td>@Html.TextBox("mark")</td>
                </tr>
                 cou = Convert.ToInt32(ViewBag.count) + 5;

                
                    }
            <tfoot>
                <tr>
                    <td colspan='@cou'>
                        <center>
                            <input class="btn btn-primary" type="submit" name="save" value="Save" />
                        </center>
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>
                    }
