@model IEnumerable<Jounal.Models.Students>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ModeratorLayOut.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateStudent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Cours_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groups.NumGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.Cours_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Groups.NumGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Student_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Student_ID })
        </td>
    </tr>
}

</table>
